<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
            <i class="las la-sign-out-alt"></i> Logout
        </a>
        </li>
    </ul>
    <!-- <span>
        <button class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
        <button class="btn btn-primary" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
    </span> -->
</nav>